<!-- PC -->
<div class="d-none d-lg-block">
  <nav class="navbar py-3">
    <div class="container d-flex justify-content-between">
      <a href="index.html" class="nav-brand d-flex flex-column  " >
          <h2 class="font-NotoSerif fw-bolder d-flex justify-content-between ls-32">喵立翰</h2>
          <p class="fs-sm w-100">MIAO  LI-HAN</p>
      </a>
      <div class="navbar-nav d-flex flex-row">
          <a href="news.html" class="nav-link fs-4 me-4">最新活動</a>
          <a href="policy.html" class="nav-link fs-4 me-4">政策議題</a>
          <a href="donation.html" class="nav-link fs-4 me-4">小額捐款</a>
      </div>
          
  </nav>
</div>

<!-- Mobile -->
<div class="d-lg-none">
  <nav class="navbar d-none">
    <div class="container-fluid d-flex">
      <a href="index.html" class="nav-brand d-flex flex-column" >
          <h2 class="font-NotoSerif fw-bolder d-flex justify-content-between ls-32">喵立翰</h2>
          <p class="fs-sm w-100">MIAO  LI-HAN</p>
      </a>
      <div class="navbar-nav d-flex flex-row">
          <a href="news.html" class="nav-link fs-4 me-4">最新活動</a>
          <a href="policy.html" class="nav-link fs-4 me-4">政策議題</a>
          <a href="donation.html" class="nav-link fs-4 me-4">小額捐款</a>
      </div>
          
  </nav>
  <nav class="navbar  bg-transparent">
    <div class="container-fluid d-flex justify-content-center position-relative">
      
      <button class="navbar-toggler position-absolute " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="index.html" class="nav-brand d-flex flex-column justify-content-center " >
        <h2 class="font-NotoSerif fw-bolder ls-32">
          喵立翰
        </h2>
        <p class="fs-sm w-100">M I A O    L I - H A N</p>
      </a>
    </div>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <ul class="bg-light py-4 list-unstyled">
      <li class="text-center">
        <a href="news.html" class="mb-4 ls-16">
          最新消息
        </a>
      </li>
      <li class="text-center">
        <a href="policy.html" class="mb-4 ls-16">
          政策議題
        </a>
      </li>
      <li class="text-center">
        <a href="donation.html" class="mb-4 ls-16">
          小額捐款
        </a>
      </li>
    </ul>
  </div>
</div>