
<nav class="navbar py-3">
  <div class="container d-flex justify-content-between">
    <a href="index.html" class="nav-brand d-flex flex-column  " >
        <h2 class="font-NotoSerif fw-bolder d-flex justify-content-between ls-32">喵立翰</h2>
        <p class="fs-sm w-100">MIAO  LI-HAN</p>
    </a>
    <div class="navbar-nav d-flex flex-row">
        <a href="news.html" class="nav-link fs-4 me-4">最新活動</a>
        <a href="policy.html" class="nav-link fs-4 me-4">政策議題</a>
        <a href="donation.html" class="nav-link fs-4 me-4">小額捐款</a>
    </div>
        
  </nav>
