<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>donation</title>
  </head>
  <body>
    
  <div class="bg-donation  d-flex flex-column justify-content-between">
    <%- include('./layout/header'); -%>
     <!-- 搜尋 -->
    <div class="d-none d-lg-block">
        <div class="container">
          <div class="row  justify-content-end align-items-center">
            <div class="col-lg-6">
              <div class="d-flex flex-column align-items-center">
                <h1 class="fw-bolder ls-16 text-center mb-4">
                    您的小筆捐款是<br> 每隻毛孩 <br>未來的大大動力！
                </h1>
                <a href="donation.html" class="btn-main d-flex w-25">
                    前往捐款
                    <span class="material-symbols-outlined">
                      arrow_right
                    </span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 標籤 -->
      <div class="container">
        <div class="row ">
          <div class="col d-flex justify-content-center justify-content-lg-end">
            <div class="news-badge donate-badge me-4">
              <p class="fs-1 fw-bold text-stroke">987,655,873</p>
              <p class="fw-bold">總金額</p>
            </div>
            
          </div>
        </div>
      </div>   


  </div>
  <div class="bg-info py-5 py-lg-10">
    <div class="container">
        <div class="row flex-wrap">
            <div class="col-12 d-lg-none my-4">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="fs-6 fw-bolder ls-16 text-center mb-4">
                        <p class="mb-2">您的小筆捐款是</p>
                        <p class="mb-2">每隻毛孩</p>  
                        <p class="mb-2">未來的大大動力！</p>
                    </h1>
                    <a href="donation.html" class="btn-main d-flex w-50">
                        前往捐款
                        <span class="material-symbols-outlined">
                            arrow_right
                        </span>
                        </a>
                </div> 
            </div>
            <div class="col-lg-6 mb-9">
                <div class="d-flex flex-column align-items-center justify-content-between">
                    <h3 class="fw-bolder ls-16 mb-4 donate-line">喵星人之友</h3>
                    <div class="donate-page-container">
                        <div class="d-flex flex-column align-items-center justify-content-between py-4 px-6">
                            <div class="text-center p-4 dashed-bottom">
                              <p class="text-stroke fw-bolder fs-1" data-storke="NT$6,000">NT$6,000</p>
                              <p class="fw-bold text-primary">每次捐款金額</p>
                            </div>
                            <div class="text-center p-4">
                              <p class="text-stroke fw-bolder fs-1" data-storke="2000">2000</p>
                              <p class="fw-bold text-primary">贊助人數</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-9">
                <div class="d-flex flex-column align-items-center justify-content-between">
                    <h3 class="fw-bolder ls-16 mb-4 donate-line">喵星大使</h3>
                    <div class="donate-page-container">
                        <div class="d-flex flex-column align-items-center justify-content-between py-4 px-6">
                            <div class="text-center p-4 dashed-bottom">
                              <p class="text-stroke fw-bolder fs-1" data-storke="NT$6,000">NT$6,00</p>
                              <p class="fw-bold text-primary">每次捐款金額</p>
                            </div>
                            <div class="text-center p-4">
                              <p class="text-stroke fw-bolder fs-1" data-storke="2000">9957</p>
                              <p class="fw-bold text-primary">贊助人數</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-9">
                <div class="d-flex flex-column align-items-center justify-content-between">
                    <h3 class="fw-bolder ls-16 mb-4 donate-line">喵星傳奇</h3>
                    <div class="donate-page-container">
                        <div class="d-flex flex-column align-items-center justify-content-between py-4 px-6">
                            <div class="text-center p-4 dashed-bottom">
                              <p class="text-stroke fw-bolder fs-1" data-storke="NT$6,000">NT$6,0000</p>
                              <p class="fw-bold text-primary">每次捐款金額</p>
                            </div>
                            <div class="text-center p-4">
                              <p class="text-stroke fw-bolder fs-1" data-storke="2000">999</p>
                              <p class="fw-bold text-primary">贊助人數</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-9">
                <div class="d-flex flex-column align-items-center justify-content-between ">
                    <h3 class="fw-bolder ls-16 mb-4 donate-line">喵星自我</h3>
                    <div class="donate-page-container">
                        <div class="d-flex flex-column align-items-center justify-content-between py-4 px-6">
                            <div class="text-center p-4 dashed-bottom">
                              <p class="text-stroke fw-bolder fs-1" data-storke="NT$6,000">自訂</p>
                              <p class="fw-bold text-primary">每次捐款金額</p>
                            </div>
                            <div class="text-center p-4">
                              <p class="text-stroke fw-bolder fs-1" data-storke="2000">0</p>
                              <p class="fw-bold text-primary">贊助人數</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div>
<%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>