<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news</title>
  </head>
  <body>
  <div class="bg-page-news d-flex flex-column justify-content-between">
    <%- include('./layout/header'); -%>
    <!-- 搜尋 -->
    <div class="d-none d-lg-block">
      <div class="container">
        <div class="row  justify-content-end align-items-center">
          <div class="col-lg-4">
            <div class="d-flex flex-column ">
              <h1 class="fw-bolder ls-16 text-center mb-4">最新消息</h1>
                <div class="position-relative mb-4">
                  <input class="news-search w-100" type="text" placeholder="請輸入關鍵字">
                  <span class="material-symbols-outlined search-icon">
                    search
                  </span>
                </div>
                <div class="position-relative">
                  <input class="news-search w-100 " type="text" placeholder="請輸入日期">
                  <span class="material-symbols-outlined search-icon">
                    calendar_month
                  </span>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 標籤 -->
    <div class="container">
      <div class="row ">
        <div class="col d-flex justify-content-center justify-content-lg-end">
          <div class="news-badge me-4">
            <p class="fs-1 fw-bold text-stroke">1</p>
            <p class="fw-bold">分享</p>
          </div>
          <div class="news-badge me-4">
            <p class="fs-1 fw-bold text-stroke">2</p>
            <p class="fw-bold">收藏</p>
          </div>
          <div class="news-badge">
            <p class="fs-1 fw-bold text-stroke">8</p>
            <p class="fw-bold">人數</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-info py-10">
    <div class="container">
      <div class="row flex-wrap">
        <div class="col-12 d-lg-none mb-4">
          <div class="d-flex flex-column ">
            <h1 class="fs-6 fw-bolder ls-16 text-center mb-4">最新消息</h1>
              <div class="position-relative mb-4">
                <input class="news-search w-100" type="text" placeholder="請輸入關鍵字">
                <span class="material-symbols-outlined search-icon">
                  search
                </span>
              </div>
              <div class="position-relative">
                <input class="news-search w-100 " type="text" placeholder="請輸入日期">
                <span class="material-symbols-outlined search-icon">
                  calendar_month
                </span>
              </div> 
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="news-card w-100">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center ">
              <div class="news-card-num">
                <p class="fs-1 text-light card-num ">1</p>
                <p class="text-light">12 / 4</p>
              </div>
  
              <p class="fs-6 pe-4">參與台北寵物論壇
                <br> 爭取貓咪友善環境
              </p>
            </div>
            <!-- 圖片 -->
            <div class="mb-3 position-relative">
              <img src="https://s3-alpha-sig.figma.com/img/86c4/c3d3/04af15176a001b218cb82617a75a9bfe?Expires=1701043200&Signature=avspB3JyadRVWCP85t0Mut58dvdaFHvidNMRYZc~qgLo85aQREjNAnj05cw5IduMjdOAuM1nVtXYYOF6dxGEYGiIqJBeM1d1KpK2TkHQv3WiEsDkG-DWveWyI1QwHS77MPBjbRG0~uEIy1Kg-LA2JgLePNs51pGqSIwdznLgvSSalkO83V284Y4prZnZioFbdSiz3Y0VBfmX76fYQwOWD4KTIey9OxoWdtbG7QrtjxOy7eiV20KqXD9iEuDdruCT4KxFQ86VT32f7DkNwjlvfoBEB8PllOiY~d5FMhb0cpOFE5EAz1kkzBOlG5gSBnIHOyRSemj2BWf9MKlasmO9IQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" class="  news-page-img">
              <div class="position-absolute news-card-tag bg-primary">
                <a href="#" class="me-3">
                  <span class="text-light material-symbols-outlined material-symbols-outlined-fill">
                    favorite
                  </span>
                </a>
                <a href="#" class="">
                  <span class="text-light material-symbols-outlined">
                    share
                  </span>
                </a>
              </div>
            </div>
            <div class="px-2">
              <p>炎炎夏日的周六，我走進了台北寵物論壇，帶著一副貓耳髮箍，決定要全力宣傳「貓咪至上」的理念！我相信，我們的都市中，每一隻貓咪都應該有自己的 VIP 休憩空間。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="news-card w-100">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center ">
              <div class="news-card-num">
                <p class="fs-1 text-light card-num">2</p>
                <p class="text-light">12 / 4</p>
              </div>

              <p class="fs-6 pe-4">
                參與台北寵物論壇
                <br> 爭取貓咪友善環境
              </p>
            </div>
            <!-- 圖片 -->
            <div class="mb-3 position-relative">
              <img src="https://s3-alpha-sig.figma.com/img/003b/6f32/7035d7d3966e8293394ec20be82b06fa?Expires=1701043200&Signature=NGnant2JaE3hvLY8h~IqyO6s0tiVxhSOzxD5fiGe8Ck4xHsAJHGQvHWWTpnUUVtuhW~Dr2vpXOUNCS58JzuP-iv67pdE7rm1DK6xLwbw6nALMixVtrwMxRWIZaW2U7d16bBy6rqxjGh2Fe6sLR3Bu9wmTHrCh9ecDfg2tJ70fNWpSYO384yyAF2O8KjXokdiGLs1sGoLyzqwThKl1Pf~~3xZ2FUjjlu-W7O3KILaLZln84RIyHeQkcjjk8~WPp5CskmE-mV2M-JaZRrsGDyGZLH8N8ekM~ova1d1ZybQXs6WHfZ6kRtZ8FOnfCL~ZZBvJljtXyj-GTSlSPOJjhzfZg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" class="  news-page-img">
              <div class="position-absolute news-card-tag bg-primary">
                <a href="#" class="me-3">
                  <span class="text-light material-symbols-outlined material-symbols-outlined-fill">
                    favorite
                  </span>
                </a>
                <a href="#" class="">
                  <span class="text-light material-symbols-outlined">
                    share
                  </span>
                </a>
              </div>
            </div>
            <div class="px-2">
              <p>街上氣氛真的很棒，從小孩到大人，甚至有些狗狗朋友都帶著貓耳來找我握手，真的太可愛了！這次的活動不僅讓我看到大家的熱情，更加堅定了我推進「貓咪友善環境」政策的決心。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="news-card w-100">
            <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
              <div class="news-card-num">
                <p class="fs-1 text-light card-num">3</p>
                <p class="text-light">12 / 4</p>
              </div>

              <p class="fs-6 pe-4">
                收容所模特兒大比拼！
              </p>
            </div>
            <!-- 圖片 -->
            <div class="mb-3 position-relative">
              <img src="https://s3-alpha-sig.figma.com/img/9ed0/3570/e50a77348cafcc55f4e26f739b5d91e1?Expires=1701043200&Signature=l-TfZLsIY5dzrGaajki73K8qdKgVR6B1EEfCtQbgKUiYnFpEYd-SzK-wMBK6e6QBuq9TzPxWe0LOOKqjL5AFGggYMdnJsYNYRn6e0Pl0J9F0-Cm6PEdE8nxrhkhK02-yceGv56M733F0ZXZPaO5QaAfeObWyfeS8ELnwfyldXJJxzvUAOyLWMF32QvZ3KoMbfjUkNH4Wi-~r8mhQfjasa2tzzvNh2--9Z3qi4BOau8SQoj1NYqiv8hTDIhj90xXTr7iaWzvE2yRDWdvKNYzXezy7-tQpZcFdrYfXXQRx-Yd1M9Rxi7rla79OablQ-hwDKpxW6TyDtvg7umu0qlwO5A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" class="  news-page-img">
              <div class="position-absolute news-card-tag bg-primary">
                <a href="#" class="me-3">
                  <span class="text-light material-symbols-outlined material-symbols-outlined-fill">
                    favorite
                  </span>
                </a>
                <a href="#" class="">
                  <span class="text-light material-symbols-outlined">
                    share
                  </span>
                </a>
              </div>
            </div>
            <div class="px-2">
              <p>今天的收容所不再是一片寂靜。為了讓更多人認識到這裡的毛孩子，我們舉辦了一場前所未有的「模特兒走秀」！</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="news-card w-100">
            <div class="d-flex justify-content-between align-items-center  flex-column flex-lg-row">
              <div class="news-card-num">
                <p class="fs-1 text-light card-num">4</p>
                <p class="text-light">12 / 4</p>
              </div>

              <p class="fs-6 pe-4 ls-16">
                貓星登場！
              </p>
            </div>
            <!-- 圖片 -->
            <div class="mb-3 position-relative">
              <img src="https://s3-alpha-sig.figma.com/img/7d56/09e7/09b285993ce16e66e36a811e31865653?Expires=1701043200&Signature=RFoHOoPgmIog2xgGmLm1otmpAg~aFWxZ3SRhkIgWp3IeZuRkWSPrjKqkRLbetRF8slUKb5sOP~qS1QW7YLwWV0i-omAUqFS9AwKccl5DdlfPTjt3oiwj2-UcftySxuQvw3f3CMJOmDTTWQqHFTexRbIBrwUmD8ruDJQjHrDJJR-Q2EJBqD8Q7BOKSAiSOpLy8YNxOCsfhvWJOFZ3T9YB0Ev7Dl91-fZnolM5YlGEsVaKelKHFpqbGyd39Re-tpfH6XPa02mLaxEJcc3jbn80icwY41SrpB0nGxnhwwUftiMmhU0aX980QHvdDp~J7o1hG~By3Foi2MkvDxc9y4E9Uw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="" class="img-fluid">
              <div class="position-absolute news-card-tag bg-primary">
                <a href="#" class="me-3">
                  <span class="text-light material-symbols-outlined material-symbols-outlined-fill">
                    favorite
                  </span>
                </a>
                <a href="#" class="">
                  <span class="text-light material-symbols-outlined">
                    share
                  </span>
                </a>
              </div>
            </div>
            <div class="px-2">
              <p>今天的收容所不再是一片寂靜。為了讓更多人認識到這裡的毛孩子，我們舉辦了一場前所未有的「模特兒走秀」！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
